---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section title="Educación">
  <ul class="space-y-l">
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startDateObj = new Date(startDate);
        const endDateObj = endDate ? new Date(endDate) : null;
        const startYear = startDateObj.getFullYear();
        const endYear = endDateObj ? endDateObj.getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li class="relative pl-l">
            <span class="absolute left-0 top-1 h-3 w-3 rounded-full bg-electric-blue" />
            <div class="absolute left-[5.5px] top-4 h-full w-px bg-border-gray" />

            <article>
              <header class="mb-2 flex flex-col items-start justify-between gap-1 md:flex-row md:items-center">
                <h3 class="text-h4 font-semibold text-primary-text">{institution}</h3>
                <time class="text-sm font-medium text-secondary-text" datetime={years}>
                  {years}
                </time>
              </header>
              <footer>
                <p class="text-body-reg text-secondary-text">{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
